* {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.grid {
  background-color: lightblue;
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 2px solid black;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 50px;
  color: red;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bolder;
  font-size: 50px;
  color: darkblue;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
}

.box {
  border: 2px solid black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whitesmoke {
  background-color: whitesmoke;
  border: 2px solid black;
}

.darkgrey {
  background-color: darkgrey;
  border: 2px solid black;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
  border: 2px solid black;
  font-weight: bolder;
  font-size: 15px;
  color: darkblue;
  margin: 15px;
}
.nameDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  border: 2px solid black;
  font-weight: bolder;
  font-size: 15px;
  color: darkblue;
  /* margin: 15px; */
}

.scoreTicker {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: lightblue;
  border: 2px solid black;
  font-weight: bolder;
  font-size: 15px;
  color: darkblue;
}

.score1 {
  background-color: whitesmoke;
  border: 2px solid black;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.score2 {
  background-color: whitesmoke;
  border: 2px solid black;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.scorePC {
  background-color: whitesmoke;
  border: 2px solid black;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

button {
  background-color: whitesmoke;
  border: 2px solid black;
  margin: 15px;
}

form {
  background-color: whitesmoke;
  border: 2px solid black;
  margin-bottom: 15px;
}

.playerOneName {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  border: 2px solid black;
  padding: 5px;
}

.playerTwoName {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border: 2px solid black;
  padding: 5px;
}
.playerPCName {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border: 2px solid black;
  padding: 5px;
}
/* 
.score{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    border: 2px solid black;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: auto;
    border: 2px solid black;
    font-size: 80px;
    text-align: center;
}

td{
    background-color: lightgrey;
    width: 90px;
    height: 90px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10%;
    font-size: 30px;
    text-align: center;
} */
