* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.grid {
    background-color: lightgrey;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.score{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    border: 2px solid black;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: auto;
    border: 2px solid black;
    font-size: 80px;
    text-align: center;
}

td{
    background-color: lightgrey;
    width: 90px;
    height: 90px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10%;
    font-size: 30px;
    text-align: center;
}
